<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body class="gray-bg">
	<header>
		<div class="container">
			<div class="header-inner">
				<div class="flex">
					<div class="logo-block">
						<div class="logo"><a href="#"><img src="img/dest/logo.svg" alt=""></a></div>
						<div class="city">
							<a href="#">
								<span>Самара</span>
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16 10L12 14L8 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
					</div>
					<div class="catalog-btn">
						<a href="#" class="btn btn-catalog">
							<span class="b-catalog">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M5 17H13M5 12H19M5 7H13" stroke="#3C7BBB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
							Каталог
							<span class="close">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#3C7BBB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</a>
						<div class="catalog-menu">
							<ul>
								<li class="parent">
									<a href="#">Вывески</a>
									<ul class="child">
										<li><a href="#">Вывеска из ПВХ-пластика</a></li>
										<li><a href="#">Вывеска из алюминиевого композита</a></li>
										<li><a href="#">Вывеска из оргстекла</a></li>
									</ul>
								</li>
								<li class="parent">
									<a href="#">Объемные буквы</a>
									<ul class="child">
										<li class="li"><a href="#">Вывеска из ПВХ-пластика</a></li>
										<li class="li"><a href="#">Вывеска из алюминиевого композита</a></li>
									</ul>
								</li>
								<li class="parent">
									<a href="#">Стенды</a>
									<ul class="child">
										<li class="li"><a href="#">Вывеска из ПВХ-пластика</a></li>
										<li class="li"><a href="#">Вывеска из алюминиевого композита</a></li>
										<li class="li"><a href="#">Вывеска из оргстекла</a></li>
									</ul>
								</li>
								<li class="parent">
									<a href="#">Таблички</a>
									<ul class="child">
										<li class="li"><a href="#">Вывеска из ПВХ-пластика</a></li>
										<li class="li"><a href="#">Вывеска из алюминиевого композита</a></li>
										<li class="li"><a href="#">Вывеска из оргстекла</a></li>
									</ul>
								</li>
								<li class="parent">
									<a href="#">Баннеры</a>
									<ul class="child">
										<li class="li"><a href="#">Вывеска из ПВХ-пластика</a></li>
										<li class="li"><a href="#">Вывеска из алюминиевого композита</a></li>
									</ul>
								</li>
								<li><a href="#">Найлейки</a></li>
								<li><a href="#">Флаги</a></li>
								<li><a href="#">Роллапы</a></li>
								<li><a href="#">Виндеры</a></li>
								<li><a href="#">Режим работы</a></li>
							</ul>
						</div>
						<div class="popup-bg"></div>
					</div>
					<div class="menu">
						<nav>
							<ul>
								<li><a href="#">Объемные буквы</a></li>
								<li><a href="#">Стенды</a></li>
								<li><a href="#">Таблички</a></li>
								<li><a href="#">Наклейки</a></li>
								<li><a href="#">Баннеры</a></li>
								<li><a href="#">Флаги</a></li>
								<li class="more-btn">
									<a href="#">
										Еще
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M17 12C17 12.5523 17.4477 13 18 13C18.5523 13 19 12.5523 19 12C19 11.4477 18.5523 11 18 11C17.4477 11 17 11.4477 17 12Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M5 12C5 12.5523 5.44772 13 6 13C6.55228 13 7 12.5523 7 12C7 11.4477 6.55228 11 6 11C5.44772 11 5 11.4477 5 12Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</a>
								</li>
							</ul>
							<ul class="more">
								<li><a href="#">Роллапы</a></li>
								<li><a href="#">Виндеры</a></li>
								<li><a href="#">Режим работы</a></li>
							</ul>
						</nav>
					</div>
					<div class="phone">
						<a href="tel:+78462113710">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.91872 3.54768C7.66561 2.91492 7.05276 2.5 6.37126 2.5H4.07895C3.20692 2.5 2.5 3.20675 2.5 4.07878C2.5 11.491 8.50898 17.5 15.9212 17.5C16.7933 17.5 17.5 16.793 17.5 15.921L17.5004 13.6283C17.5004 12.9468 17.0856 12.334 16.4528 12.0809L14.2558 11.2024C13.6874 10.9751 13.0402 11.0774 12.57 11.4693L12.0029 11.9422C11.3407 12.4941 10.3664 12.4502 9.75683 11.8407L8.16018 10.2425C7.55065 9.63302 7.50561 8.65945 8.05745 7.99724L8.53027 7.43025C8.92218 6.95996 9.02541 6.31263 8.79805 5.74424L7.91872 3.54768Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							+7 (846) 211-3710
						</a>
					</div>
					<div class="icons">
						<div class="item account">
							<a href="#">
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.8337 21.5C19.8337 18.2783 17.222 15.6667 14.0003 15.6667C10.7787 15.6667 8.16699 18.2783 8.16699 21.5M14.0003 13.1667C12.1594 13.1667 10.667 11.6743 10.667 9.83333C10.667 7.99238 12.1594 6.5 14.0003 6.5C15.8413 6.5 17.3337 7.99238 17.3337 9.83333C17.3337 11.6743 15.8413 13.1667 14.0003 13.1667Z" stroke="#3C7BBB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
						<div class="item search">
							<a href="#">
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.5 16.5L21.5 21.5M12.3333 18.1667C9.11167 18.1667 6.5 15.555 6.5 12.3333C6.5 9.11167 9.11167 6.5 12.3333 6.5C15.555 6.5 18.1667 9.11167 18.1667 12.3333C18.1667 15.555 15.555 18.1667 12.3333 18.1667Z" stroke="#3C7BBB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
						<div class="item mini-cart">
							<a href="#">
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6.5 6.5H6.72362C7.11844 6.5 7.31619 6.5 7.47722 6.57123C7.6192 6.63403 7.74059 6.73515 7.82812 6.86336C7.92724 7.00855 7.96304 7.20241 8.03448 7.58939L9.83337 17.3334L18.5182 17.3333C18.8958 17.3333 19.0853 17.3333 19.2417 17.2666C19.3799 17.2077 19.4991 17.1122 19.5876 16.9908C19.6877 16.8535 19.7301 16.6697 19.8148 16.3026L19.8154 16.3L21.1231 10.6333L21.1234 10.6321C21.2519 10.0751 21.3164 9.79596 21.2456 9.57699C21.1835 9.38485 21.0529 9.22195 20.8797 9.11827C20.682 9 20.3965 9 19.8239 9H8.58333M19 21.5C18.5398 21.5 18.1667 21.1269 18.1667 20.6667C18.1667 20.2064 18.5398 19.8333 19 19.8333C19.4602 19.8333 19.8333 20.2064 19.8333 20.6667C19.8333 21.1269 19.4602 21.5 19 21.5ZM10.6667 21.5C10.2064 21.5 9.83333 21.1269 9.83333 20.6667C9.83333 20.2064 10.2064 19.8333 10.6667 19.8333C11.1269 19.8333 11.5 20.2064 11.5 20.6667C11.5 21.1269 11.1269 21.5 10.6667 21.5Z" stroke="#3C7BBB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>
					</div>
					<div class="burger">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3 5.67578C3 5.26157 3.33579 4.92578 3.75 4.92578H20.25C20.6642 4.92578 21 5.26157 21 5.67578C21 6.08999 20.6642 6.42578 20.25 6.42578H3.75C3.33579 6.42578 3 6.08999 3 5.67578Z" fill="#2C619D"/>
							<path d="M3 11.6758C3 11.2616 3.33579 10.9258 3.75 10.9258H20.25C20.6642 10.9258 21 11.2616 21 11.6758C21 12.09 20.6642 12.4258 20.25 12.4258H3.75C3.33579 12.4258 3 12.09 3 11.6758Z" fill="#2C619D"/>
							<path d="M3 18.6758C3 18.2616 3.33579 17.9258 3.75 17.9258H20.25C20.6642 17.9258 21 18.2616 21 18.6758C21 19.09 20.6642 19.4258 20.25 19.4258H3.75C3.33579 19.4258 3 19.09 3 18.6758Z" fill="#2C619D"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="thanx-page inner-page">
		<section class="breadcrumbs">
			<div class="container">
				<ul>
					<li class="main">
						<a href="/">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.33301 9.54425V14.0009C3.33301 14.9343 3.33301 15.4013 3.51466 15.7579C3.67445 16.0715 3.92924 16.3262 4.24284 16.486C4.59901 16.6675 5.0655 16.6675 5.9971 16.6675H14.0022C14.9338 16.6675 15.3997 16.6675 15.7558 16.486C16.0694 16.3262 16.3251 16.0715 16.4849 15.7579C16.6663 15.4017 16.6663 14.9354 16.6663 14.0038V9.54425C16.6663 9.09897 16.666 8.87621 16.6118 8.66901C16.5638 8.48539 16.4851 8.31162 16.3785 8.1546C16.2582 7.97741 16.091 7.83047 15.7559 7.53725L11.7559 4.03725C11.1337 3.49285 10.8226 3.22079 10.4725 3.11725C10.164 3.02602 9.83518 3.02602 9.52669 3.11725C9.17685 3.22071 8.86621 3.49251 8.24498 4.0361L4.24365 7.53726C3.90854 7.83048 3.74138 7.97741 3.62109 8.1546C3.5145 8.31162 3.43513 8.48539 3.38715 8.66901C3.33301 8.87621 3.33301 9.09897 3.33301 9.54425Z" stroke="#3C7BBB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
					</li>
					<li class="separator">/</li>
					<li>Спасибо</li>
				</ul>
			</div>
		</section>
		<section class="thanx-block">
			<div class="container">
				<div class="thanx-container">
					<div class="img">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 18.0007L15.364 24.3647L28.0905 11.6367" stroke="#2C619D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<div class="title">
						<h1>Спасибо!</h1>
					</div>
					<div class="text">Заказ № 9902151 создан, в ближайшее время менеджер свяжется с вами для уточнения подробностей</div>
					<div class="btn-block"><a href="#" class="btn">Перейти в каталог</a><a href="/" class="btn btn-white">На главную</a></div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="footer-top">
				<div class="flex">
					<div class="logo-block">
						<div class="logo"><a href="#"><img src="img/dest/footer-logo.svg" alt=""></a></div>
						<div class="contacts">
							<div class="item"><a href="tel:+74951288876">+7 (495) 128-88-76</a></div>
							<div class="item"><a href="mailto:order@ra-psp.ru">order@ra-psp.ru</a></div>
							<div class="item">г. Самара, ул. Революционная, 70г</div>
						</div>
					</div>
					<div class="menu-block">
						<div class="menu categories-menu">
							<div class="caption">Категории</div>
							<ul>
								<li><a href="#">Несветовые вывески</a></li>
								<li><a href="#">Постеры</a></li>
								<li><a href="#">Режим работы</a></li>
								<li><a href="#">Объемные буквы</a></li>
								<li><a href="#">Таблички</a></li>
								<li><a href="#">Флаги</a></li>
								<li><a href="#">Баннер</a></li>
								<li><a href="#">Роллапы</a></li>
								<li><a href="#">Наклейки</a></li>
								<li><a href="#">Виндеры</a></li>
							</ul>
						</div>
						<div class="menu">
							<div class="caption">Покупателю</div>
							<ul>
								<li><a href="#">Личный кабинет</a></li>
								<li><a href="#">Как заказывать</a></li>
								<li><a href="#">Гарантия</a></li>
								<li><a href="#">Доставка</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</div>
						<div class="menu contacts-menu">
							<div class="caption">Контакты</div>
							<ul>
								<li><a href="tel:+74951288876">+7 (495) 128-88-76</a></li>
								<li><a href="mailto:order@ra-psp.ru">order@ra-psp.ru</a></li>
								<li>г. Самара, ул. Революционная, 70г</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bot">
				<div class="flex">
					<div class="descriptor">Платформа онлайн расчета рекламных конструкций</div>
					<div class="footer-bot-right">
						<div class="copy">© 2025 — Copyright PSP online</div>
						<div class="policy"><a href="#" target="_blank">Политика конфиденциальности</a></div>
					</div>
					<div class="to-top">
						<a href="#">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 17V7M12 7L8 11M12 7L16 11" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="popupmenu">
		<div class="inner">
			<div class="catalog-btn">
				<a href="#">
					<span class="cat-icon">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.16699 14.1663H10.8337M4.16699 9.99967H15.8337M4.16699 5.83301H10.8337" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</span>
					Каталог
					<span class="arrow-icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 5L16 12L9 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</span>
				</a>
			</div>
			<div class="menu">
				<nav>
					<ul>
						<li>
							<a href="#">
								Главная
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 8L14 12L10 16" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								Личный кабинет
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 8L14 12L10 16" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								Как осуществить заказ
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 8L14 12L10 16" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								Гарантия
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 8L14 12L10 16" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								Доставка
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 8L14 12L10 16" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								Контакты
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 8L14 12L10 16" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="descriptor">Производство наружной и интерьерной рекламы</div>
			<div class="contacts-block">
				<div class="phone"><a href="tel:+74951288876">+7 (495) 128-88-76</a></div>
				<div class="mail"><a href="mailto:order@ra-psp.ru">order@ra-psp.ru</a></div>
			</div>
		</div>
		<div class="catalog-mobile-menu">
			<div class="back">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15 19L8 12L15 5" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<span>Каталог</span>
			</div>
			<div class="menu">
				<ul>
					<li class="parent">
						<a href="#">Вывески</a>
						<div class="child">
							<div class="child-back">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15 19L8 12L15 5" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span>Вывески</span>
							</div>
							<ul>
								<li><a href="#">Вывеска из ПВХ-пластика</a></li>
								<li><a href="#">Вывеска из алюминиевого композита</a></li>
								<li><a href="#">Вывеска из оргстекла</a></li>
							</ul>
						</div>
					</li>
					<li class="parent">
						<a href="#">Объемные буквы</a>
						<div class="child">
							<div class="child-back">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15 19L8 12L15 5" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span>Объемные буквы</span>
							</div>
							<ul>
								<li><a href="#">Вывеска из ПВХ-пластика</a></li>
								<li><a href="#">Вывеска из алюминиевого композита</a></li>
								<li><a href="#">Вывеска из оргстекла</a></li>
							</ul>
						</div>
					</li>
					<li class="parent">
						<a href="#">Стенды</a>
						<div class="child">
							<div class="child-back">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15 19L8 12L15 5" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span>Стенды</span>
							</div>
							<ul>
								<li><a href="#">Вывеска из ПВХ-пластика</a></li>
								<li><a href="#">Вывеска из алюминиевого композита</a></li>
								<li><a href="#">Вывеска из оргстекла</a></li>
							</ul>
						</div>
					</li>
					<li class="parent">
						<a href="#">Таблички</a>
						<div class="child">
							<div class="child-back">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15 19L8 12L15 5" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span>Таблички</span>
							</div>
							<ul>
								<li><a href="#">Вывеска из ПВХ-пластика</a></li>
								<li><a href="#">Вывеска из алюминиевого композита</a></li>
								<li><a href="#">Вывеска из оргстекла</a></li>
							</ul>
						</div>
					</li>
					<li class="parent">
						<a href="#">Баннеры</a>
						<div class="child">
							<div class="child-back">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15 19L8 12L15 5" stroke="#94A3B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span>Баннеры</span>
							</div>
							<ul>
								<li><a href="#">Вывеска из ПВХ-пластика</a></li>
								<li><a href="#">Вывеска из алюминиевого композита</a></li>
								<li><a href="#">Вывеска из оргстекла</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Найлейки</a></li>
					<li><a href="#">Флаги</a></li>
					<li><a href="#">Роллапы</a></li>
					<li><a href="#">Виндеры</a></li>
					<li><a href="#">Режим работы</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script src="js/libs.min.js"></script>
	<script src="js/app.min.js"></script>
</body>
</html>